$colorBlack : black;
$colorWhite : white;

$colorPortfolio : #869694;
$colorTextPresentation : #777777;
$colorTextCV: #cccccc;
$colorLabel: #bfbfbf;
$colorText: #a3a3a3;
$colorOpacityMenuHamburger : rgba(0, 0, 0, 0.5);
$colorPrimary : #6d7f96;
