.works
  padding: s(100,16) s(20,16)
  background-color: $lightBlue
  &__width
    max-width: s(1140,16)
    margin: 0 auto
  &__container
    display: flex
    flex-direction: row
  &__bloc
    margin-right: s(50,16)
    position: relative
    overflow: hidden
    display: inline-block
    &:last-child
      margin-right: 0
    &:before
      content: ""
      position: absolute
      top: 0
      left: 0
      right: 0
      bottom: 0
      width: 100%
      height: 100%
      display: block
  &__img
    max-width: 100%
    height: auto
  &__infos
    position: absolute
    bottom: s(20,16)
    left: s(40,16)
    color: $white
    transform: translateX(-350px)
    &:before
      content: ""
      width: s(2,16)
      height: s(50,16)
      background-color: $white
      display: inline-block
      position: relative
      left: s(-20,16)
      top: s(55,16)
      transform: translateX(0px)
  &__title
    text-transform: uppercase
    font-size: s(25,16)
    font-family: 'montserrat'
    font-weight: bold
    margin-bottom: s(10,25)
  &__text
    font-size: s(16,16)
  &__center
    margin: 0 auto
    text-align: center
  &__img
    display: block
  &__link
    font-size: s(25,16)
    font-weight: bold
    color: $white
    background-color: $darkBlue
    margin: s(50,25) auto 0
    display: inline-block
    text-align: center
    padding: s(20,25) s(70,25)
    border-radius: s(50,25)
  &__link-projects
    width: 100%
    height: 100%
    display: block
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    animation: eyes 0.7s ease-in-out
    & span
      hidden()
    &:before
      icon('iconEyesHover')
      color: $white
      font-size: s(25,16)
      position: relative
      top: 45%
      left: 45%
      opacity: 0

@keyframes title
  0%
    transform: translateX(-350px)
    animation: title 0.5s ease-in-out
  100%
    transform: translateX(0px)
    animation: title 0.5s ease-in-out

@keyframes eyes
  0%
    opacity: 0
  50%
    opacity: 0
  75%
    opacity: 1
  100%
    opacity: 1

@keyframes opacity
  0%
    opacity: 0
  50%
    opacity: 0
  75%
    background-color: rgba(119,119,119,0.6)
  100%
    background-color: rgba(119,119,119,0.6)

.works__bloc:hover.works__bloc:before
  animation: opacity 0.4s ease-in-out
  background-color: rgba(119,119,119,0.6)

.works__bloc:hover .works__infos
  animation: title 0.5s ease-in-out
  transform: translateX(0px)

.works__bloc:hover .works__link-projects:before
  animation: eyes 0.7s ease-in-out
  opacity: 1

@media screen and (max-width:1024px)
  .works
    &__container
      display: flex
      flex-direction: column
      justify-content: center
      align-items: center
    &__bloc
      margin-right: 0
      margin-bottom: s(50,16)
    &__title
      font-size: s(30,16)
    &__text
      font-size: s(20,16)
    &__width
      padding: s(100,16) s(20,16)
    &__infos
      transform: translateX(-400px)
      &:before
        height: s(60,16)
        top: s(65,16)

@media screen and (max-width:550px)
  .works
    &__title
      font-size: s(25,16)
    &__text
      font-size: s(16,16)
    &__infos
      transform: translateX(-350px)
      &:before
        height: s(50,16)
        top: s(55,16)

@media screen and (max-width:500px)
  .works
    &__link
      font-size: s(22,16)
      padding: s(15,22) s(50,22)

@media screen and (max-width:410px)
  .works
    &__title
      font-size: s(20,16)
    &__text
      font-size: s(14,16)
    &__link
      font-size: s(18,16)
      padding: s(15,18) s(40,18)

@media screen and (max-width:350px)
  .works
      &__link-projects
        &:before
          font-size: s(16,16)
