//**********OBJECTS**********//
//*****TOPBAR*****//
.active{
    padding: 0.4375em 1.0625em; // 7px 17px
}
.topbar{
    height: 100vh;
    position: relative;
    &::after{
        clear: both;
        display: block;
        content: "";
    }
    &__opacity{
        height: 100vh;
    }
    &__navigation{
        max-width: 100%;
        float: right;
    }
    &__list{
        padding: 0.625em; // 10px
        &__detail{
            display: inline-block;
            margin-right: 2.173913em; // 50px (23x)
            padding: 0.304347em 0.739130em; // 7px 17px (23px)
        }
    }
    &__intro{
        width: 68.75em; // 1100px
        margin: 0 auto;
        padding-top: 40vh;
    }
    &__name{
        margin-bottom: 0.1em; // 10px (100px)
    }
    &__scroll{
        position: absolute;
        top: 95%;
        left: 50%;
        &__image{
            display: inline-block;
            vertical-align: middle;
            -webkit-transform: translateZ(0);
            transform: translateZ(0);
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
            -moz-osx-font-smoothing: grayscale;
            position: relative;
            padding-right: 2.2em;
            &::before,&:hover{
                -webkit-animation-name: hvr-icon-down;
                animation-name: hvr-icon-down;
                -webkit-animation-duration: 0.75s;
                animation-duration: 0.75s;
                -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;
            }
        }
        @-webkit-keyframes hvr-icon-down {
          0%,
          50%,
          100% {
            -webkit-transform: translateY(0);
            transform: translateY(0);
          }
          25%,
          75% {
            -webkit-transform: translateY(0.375em); // 6px
            transform: translateY(0.375em); // 6px
          }
        }
        @keyframes hvr-icon-down {
          0%,
          50%,
          100% {
            -webkit-transform: translateY(0);
            transform: translateY(0);
          }
          25%,
          75% {
            -webkit-transform: translateY(0.375em); // 6px
            transform: translateY(0.375em); // 6px
          }
        }
    }
}
