$ws_icon-list =       "iconCheckCV"   "\e900",
                      "iconEyesHover"   "\e901",
                      "iconFacebook"   "\e902",
                      "iconGithub"   "\e903",
                      "iconPinterest"   "\e904",
                      "iconScroll"   "\e906"
