.container{
    font-family: 'raleway';
    z-index: 10;
    &::after{
        clear: both;
        display: block;
        content: "";
    }
    &__propos{
        max-width: 68.75em; // 1100px
        margin: 3.125em auto; // 50px
        position: relative;
        z-index: 5;
    }
    &__title{
        font-size: 4.25em; // 68px
        font-weight: 500;
        text-align: center;
        text-transform: uppercase;
        margin: 0.735294em 0; // 50px (68px)
        color: $colorPortfolio;
    }
    &__profil{
        max-width: 21.875em; // 350px
        height: auto;
        vertical-align: top;
        z-index: 30;
    }
    &__presentation{
        max-width: 43.75em; // 700px
        display: inline-block;
        &__text{
            font-weight: lighter;
            line-height: 1.875em; // 30px
            font-size: 1.25em; // 20px
            z-index: 20;
            margin-left: 1.875em; // 30px
            color: $colorTextPresentation;
        }
        &__text + &__text{
            margin-top: 2.25em; // 36px
        }
    }
    &__cv{
        background: url("../img/backgroundCitation.jpg") no-repeat center;
        background-size: cover;
        height: 12.5em; // 200px
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        &__link{
            text-decoration: none;
            text-align: center;
        }
        &__text{
            color: $colorTextCV;
            background-color: $colorPortfolio;
            font-weight: bold;
            font-size: 1.375em; // 22px
            padding: 0.681818em; // 15px (22px)
            border-radius: 0.545454em; // 12px (22px)
            position: relative;
            top: 0.454545em; // 10px (22px)
            width: 13.636363em; // 300px (22px)
            &:hover{
                color: $colorWhite;
            }
        }
    }
    &__view{
        text-decoration: none;
        float: right;
        margin-top: 0.625em; // 10px
        font-size: 1.4375em; // 23px
        font-weight: 500;
        color: $colorTextPresentation;
    }
    &__realisations{
        max-width: 68.75em; // 1100px
        margin: 9.375em auto; // 150px
        z-index: 10;
        }
        &__projets{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            &__link{
                text-decoration: none;
                width: 100%;
                height: 100%;
                display: block;
            }
            &__content + &__content{
                margin-left: 3.125em; // 50px
            }
            &__hov{
                opacity: 0;
                &:hover{
                    opacity: 1;
                }
            }
            &__content{
                position: relative;
            }
            &__color{
                position: absolute;
                top: 0;
                left: 0;
                background-color: $colorPortfolio;
                width: 100%;
                height: 100%;
                opacity: 0.6;
                z-index: 10;
            }
            &__image{
                width: 20.625em; // 330px
                height: 13.75em; // 220px
            }
            &__title{
                position: absolute;
                top: 35%;
                left: 0;
                z-index: 20;
                text-align: center;
            }
            &__text-one{
                color: $colorWhite;
                font-size: 1.875em; // 30px
                font-weight: 500;
                margin-bottom: 1.25em; // 20px
                }
            &__text-two{
                text-decoration: none;
                color: $colorWhite;
                font-size: 1.25em; // 20px
                font-weight: 500;
                border: 0.0625em solid $colorWhite; // 1px
                border-radius: 0.3125em; // 5px
                padding: 0.3125em 0.65em; // 5px 10px
                &:hover{
                    color: $colorPortfolio;
                    background-color: $colorWhite;
                }
            }
        }
        &__contact{
            text-align: center;
            margin-top: 3.125em; // 50px
            padding: 1.25em 0; // 20px 0
            background-color: $colorPortfolio;
            &__title{
                font-size: 4.25em; // 68px
                font-weight: 500;
                text-align: center;
                text-transform: uppercase;
                margin: 0.735294em 0; // 50px
                color: $colorWhite;
            }
        }
        &__form{
            max-width: 43.75em; // 700px
            margin: 0 auto;
        }
        &__list{
        }
        &__detail{
            display: flex;
            flex-direction: column;
            &__label{
                color: $colorWhite;
                font-size: 1.25em; // 20px
                height: 100%;
                padding: 0.5em 0; // 10px (20px)
                background-color: $colorLabel;
                border-radius: 0.5em 0.5em 0 0; // 10px 10px 0 0 (20px)
            }
            &__text{
                border: none;
                font-size: 1.25em; // 20px
                padding: 1em 0; // 20px
                border-radius: 0 0 0.5em 0.5em; // 0 0 10px 10px
                text-align: center;
            }
            &__text[type=submit]{
                color: $colorWhite;
                background-color:  $colorLabel;
                border-radius: 0.625em; // 10px
                width: 100%;
                margin: 0 auto;
            }
        }
        &__detail + &__detail{
            margin-top: 1.875em; // 30px
        }
}

/********** MEDIA QUERIES **********/

@media screen and (max-width: 1200px){
    .container{
        width: auto;
        &__view{
            margin-right: 30px;
        }
        &__profil{
            width: 100%;
            height: 100%;
            margin: 0 auto;
        }
        &__presentation{
                max-width: 37.5em; // 600px
            &__text{
                display: flex;
                flex-direction: column;
                flex-wrap: nowrap;
            }
        }
        &__projets{
            margin: 0 1.875em; // 30px
            &__image{
                max-width: 100%;
                height: 100%;
            }
            &__content{
            }
        }
    }
}
@media screen and (max-width: 1096px) {
    .container{
        &__presentation{
            max-width: 31.25em; // 500px
            font-size: 1em; // 16px
        }
        &__projets{
            margin: 0 1.875em; // 30px
            &__text-one{
                font-size: 1.5625em; // 25px
            }
            &__text-two{
                font-size: 0.9375em; // 15px
            }
        }
    }
}
@media screen and (max-width: 895px) {
    .container{

        &__view{
            display: block;
            text-align: center;
        }
        &__title{
            font-size: 3.75em; // 60px
        }
        &__presentation{
            max-width: 25em; // 400px
        }
        &__projets{
            display: flex;
            flex-direction: column;
            align-items: center;
            &__colors{
                width:100%;
                height: auto;
            }
            &__content{
                margin-bottom: 1.875em; // 30px
            }
            &__content + &__content{
                margin-left: 0;
            }
        }
        &__contact{
            &__title{
                font-size: 3.75em; // 60px
            }
        }

    }
}
@media screen and (max-width: 780px) {
    .container{
        &__title{
            font-size: 3.25em; // 52px
        }
        &__propos{
            width: 100%;
            text-align: center;
        }
        &__contact{
            &__title{
                font-size: 3.25em; // 52px
            }
        }
        &__form{
            margin: 0 1.875em; // 30px
        }
    }
}
@media screen and (max-width: 580px) {
    .container{
        &__detail{
            margin-left: 60px;
            max-width: 350px;
        }
    }
}
@media screen and (max-width: 480px) {
    .container{
        &__detail{
            margin-left: 50px;
            max-width: 250px;
        }
        &__title{
            font-size: 2.75em; // 44px
        }
        &__cv{
            &__text{
                width: 100%;
            }
        }
        &__projets{
            margin: 0 1.875em; // 0 30px
            &__text-one{
                margin-bottom: 0.6em; // 15px (25px)
            }
        }
        &__presentation{
            &__text{
                margin-right: 1.25em; // 20px
            }
        }
        &__contact{
            &__title{
                font-size: 2.75em; // 44px
            }
        }
    }
}
@media screen and (max-width: 380px) {
    .container{
        &__detail{
            width: 200px;

        }
    }
}
