//**********COMPONENTS**********//
//*****FOOTER*****//
.footer{
    font-family: 'raleway';
    &__title{
        font-size: 4.25em; // 68px
        text-align: center;
        text-transform: uppercase;
        font-weight: 500;
        color: $colorPortfolio;
    }
    &__social{
        text-align: center;
    }
    &__reseau{
            text-decoration: none;
        }
    &__svg:hover > &__path{
            fill:$colorPortfolio;
    }
    &__copyright{
        color: $colorTextPresentation;
        font-size: 1.25em; // 20px;
    }
}

//**********MEDIA QUERIES**********//
@media screen and (max-width: 480px){
    .footer{
        &__title{
            font-size: 2.75em; // 44px
        }
        &__copyright{
            width: 21.875em; // 350px
            font-size: 0.9375em; // 15px
            margin: 0 auto;
        }
    }
}
