.footer{
    width: 1100px;
    margin: 0 auto;
    font-family: 'raleway';

    &__title{
        font-size: 68px;
        text-align: center;
        text-transform: uppercase;
        margin: 50px 0;
        font-weight: 500;
        color: #869694;
    }
    &__social{
        text-align: center;
        margin-bottom: 50px;


    }
    &__reseau{
            text-decoration: none;
        }
        &__reseau + &__reseau{
            margin-left: 30px;
        }
        &__svg:hover > &__path{
                fill:#869694;


        }
        }
