//**********COMPONENTS**********//
//*****PROJETS*****//
.projets{
    z-index: 10;
    &__article{
    }
    &__link{
        text-decoration: none;
    }
    &__hov{
        opacity: 0;
        &:hover{
            opacity: 1;
        }
    }
    &__color{
        background-color: $colorPortfolio;
        opacity: 0.6;
        z-index: 10;
    }
    &__title{
        z-index: 20;
        text-align: center;
    }
    &__text-one{
        color: $colorWhite;
        font-size: 3.75em; // 60px
        font-weight: 500;
        }
    &__text-two{
        text-decoration: none;
        color: $colorWhite;
        font-size: 2.5em; // 40px
        font-weight: 500;
        border: 0.025em solid $colorWhite; // 1px (40px)
        border-radius: 0.25em; // 10px (40px)
        &:hover{
            color: $colorPortfolio;
            background-color: $colorWhite;
        }
    }
}

//**********MEDIA QUERIES**********//

@media screen and (max-width: 1200px) {
    .projets{
        &__content{
            margin: 0 1.875em 3.125em; // 0 30px 50px
        }
        &__image{
            max-width: 100%;
        }
    }
}
@media screen and (max-width: 1096px) {
    .projets{
        &__text-one{
            font-size: 3.4375em; // 55px
            margin-bottom: 1.090909em; // 60px (55px)
        }
        &__text-two{
            font-size: 2.1875em; // 35px
            padding: 0.285714em 0.571428em; // 10px 20px (35px)
        }
    }
}
@media screen and (max-width: 895px) {
    .projets{
        &__title{
            margin-left: 2.5em; // 40px
        }
        &__text-one{
            font-size: 3.125em; // 50px
            margin-bottom: 0.8em; // 40px (50px)
        }
        &__text-two{
            font-size: 1.875em; // 30px
        }
    }
}
@media screen and (max-width: 780px){
    .projets{
        &__text-one{
            font-size: 2.8125em; // 45px
            margin-bottom: 0.888888em; // 40px (45px)
        }
        &__text-two{
            font-size: 1.5625em; // 25px
        }
    }
}
@media screen and (max-width: 580px){
    .projets{
        &__title{
            margin-left: 1.875em; // 30px
        }
        &__text-one{
            font-size: 2.5em; // 40px

        }
        &__text-two{
            font-size: 1.25em; // 20px
            padding: 0.25em 0.75em; // 5px 15px (20px)
        }
    }
}
@media screen and (max-width: 480px){
    .projets{
        &__text-one{
            font-size: 1.875em; // 30px
            margin-bottom: 0.666666em; // 20px (30px)
        }
    }
}
@media screen and (max-width: 380px){
    .projets{
        &__title{
            margin-left: 1.25em; // 20px
            top: 25%;
        }
        &__text-one{
            font-size: 1.5625em; // 25px
        }
    }
}
