.active{
        color: $colorBlack;
        background-color: $colorWhite;
        border-radius: 0.3125em; // 5px
        padding: 0.4375em 1.0625em; // 7px 17px
}
.midnightHeader.orange {background-color:$colorPortfolio;}
.midnightst > li > a {color: $colorWhite;}
.topbar{
    background: url("../img/backgroundHeader.jpg") no-repeat center fixed;
    background-size: cover;
    height: 100vh;
    font-family: 'raleway';
    font-weight: 400;
    color: $colorWhite;
    position: relative;
    &::after{
        clear: both;
        display: block;
        content: "";
    }
    &__opacity{
        background-color: $colorBlack ;
        opacity: 0.75;
        height: 100vh;
    }
    &__navigation{
        float: right;
        width: 100%;
    }
    &__list{
        padding: 0.625em; // 10px
        &__link{
            text-decoration: none;
            color: $colorWhite;
            font-size: 1.4375em; // 23px
        }
        &__detail{
            display: inline-block;
            margin-right: 2.173913em; // 50px (23x)
            padding: 0.304347em 0.739130em; // 7px 17px (23px)
            &:hover{
                color: $colorBlack;
                background-color: $colorWhite;
                border-radius: 0.3125em; // 5px
            }
        }
    }
    &__intro{
        width: 68.75em; // 1100px
        margin: 0 auto;
        padding-top: 40vh;
        text-align: center;
    }
    &__name{
        font-size: 6.25em; // 100px
        margin-bottom: 0.1em; // 10px (100px)
    }
    &__job{
        font-size: 3.4375em; // 55px
        font-family: 'raleway';
        font-weight: lighter;
    }
    &__scroll{
        text-align: center;
        position: absolute;
        top: 95%;
        left: 50%;
        &__image{
            display: inline-block;
            vertical-align: middle;
            -webkit-transform: translateZ(0);
            transform: translateZ(0);
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
            -moz-osx-font-smoothing: grayscale;
            position: relative;
            padding-right: 2.2em;
            &::before,&:hover{
                -webkit-animation-name: hvr-icon-down;
                animation-name: hvr-icon-down;
                -webkit-animation-duration: 0.75s;
                animation-duration: 0.75s;
                -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;
            }
        }
        @-webkit-keyframes hvr-icon-down {
          0%,
          50%,
          100% {
            -webkit-transform: translateY(0);
            transform: translateY(0);
          }
          25%,
          75% {
            -webkit-transform: translateY(0.375em); // 6px
            transform: translateY(0.375em); // 6px
          }
        }
        @keyframes hvr-icon-down {
          0%,
          50%,
          100% {
            -webkit-transform: translateY(0);
            transform: translateY(0);
          }
          25%,
          75% {
            -webkit-transform: translateY(0.375em); // 6px
            transform: translateY(0.375em); // 6px
          }
        }
    }
}

/**********MEDIA QUERIES**********/

@media screen and (max-width: 1200px){
    .topbar{
        &__intro{
            width: auto;
        }
        &__name{
            font-size: 5.625em; // 90px
            margin-bottom: 0.0555555em //5px (90px)
        }
        &__job{
            font-size: 2.8125em // 45px
        }
    }
}
@media screen and (max-width: 951px) {
    .topbar{
        &__list{
            padding: 0.3125em; // 5px
            &__link{
                text-decoration: none;
                font-size: 1.25em; // 20px
            }
            &__detail{
                margin-right: 2.5em; // 50px (20px)
                padding: 0.25em 0.75em; // 5px 15px (20px)
            }
        }
        &__name{
            font-size: 5em; // 80px
        }
        &__job{
            font-size: 2.1875em // 35px
        }
    }
}
@media screen and (max-width: 845px) {
    .topbar{
        &__name{
            font-size:4.375em; // 70px
        }
        &__job{
            font-size: 1.5625em; // 25px
        }
    }
}
@media screen and (max-width: 719px) {
    .active{
            background: none;
            color: $colorWhite;
            padding: 0;
    }
    .site-pusher, .site-container {
        height: 100%;
    }
    .site-container {
        overflow: hidden;
    }
    .site-pusher {
    transition-duration: 0.5s;
  }
  .site-content {
      position: absolute;
      top: 66px; /* La hauteur du header */
      right: 0;
      left: 0;
      bottom: 0;
      padding-top: 0;
  }
  .with--sidebar .site-pusher {
     transform: translateX(-12.5em); // -300px
}
.with--sidebar .site-cache {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
  }
   .topbar {
       position: static;
       z-index: 50;
        /* L'icône hamburger, en utilisant le box-shadow */
       &__icon{
           position: relative;
           display: block;
           float: right;
           width: 3.125em; // 50px
           height: 4.125em; // 66px
           cursor: pointer;
           z-index: 100;
           &::after{
               content: '';
               position: absolute;
               display: block;
               width: 1.25em;
               height: 0;
               left: 15px;
               box-shadow: 0 0.625em 0 0.09375em $colorWhite, 0 1em 0 0.09375em $colorWhite, 0 1.375em 0 0.09375em $colorWhite; //10px 16px 22px
           }
       }
        /* Le menu collé à gauche est masqué grâce à un transform */
       &__navigation{
           position: absolute;
           right: 0;
           top: 0;
           bottom: 0;
           background-color: $colorPortfolio;
           width: 200px;
           transform: translateX(200px);
       }
       &__list{
           &__link{
               display: block;
               height: 100%;
               width: 100%;
               text-align: center;
               line-height: 50px;
           }
           &__detail{
               padding: 0;
               margin-right: 0;

               &:hover{
                   background: none;
                   color: $colorBlack;
               }
           }
       }
   }
}
@media screen and (max-width: 480px) {
    .topbar{
        &__intro{
            width: 100%;
        }
        &__name{
            font-size: 3.75em; // 60px
        }
        &__job{
            font-size: 0.9375em; // 15px
        }
    }
}
