//**********COMPONENTS**********//
//*****TOPBAR-TWO*****//
.active-two{
        color: $colorPortfolio;
        border-bottom: 0.125em solid $colorPortfolio; // 2px
        border-radius: 0.3125em; // 5px
}
.midnightHeader.orange {
    background-color:$colorPortfolio;
}
.midnightst > li > a {
    color: $colorWhite;
}
.topbar-two{
    font-family: 'raleway';
    font-weight: 400;
    color: $colorBlack;
    &__opacity{
        background-color: $colorBlack ;
        opacity: 0.75;
    }
    &__navigation{
        text-align: center;
    }
    &__list{
        &__link{
            text-decoration: none;
            color: $colorPortfolio;
            font-size: 1.4375em; // 23px
        }
        &__detail{
            &:hover{
                color: $colorPortfolio;
                border-bottom: 0.125em solid $colorPortfolio; // 2px
                border-radius: 0.3125em; // 5px
            }
        }
    }
}
/**********MEDIA QUERIES**********/

@media screen and (max-width: 1200px){
}
@media screen and (max-width: 951px) {
    .topbar-two{
        &__list{
            padding: 0.3125em; // 5px
            &__link{
                text-decoration: none;
                font-size: 1.25em; // 20px
            }
            &__detail{
                margin-right: 2.5em; // 50px (20px)
                padding: 0.25em 0.75em; // 5px 15px (20px)
            }
        }
    }
}
@media screen and (max-width: 845px) {
}
@media screen and (max-width: 780px) {
    .active{
            background: none;
            color: $colorWhite;
            padding: 0;
    }
    .site-pusher, .site-container {
        height: 100%;
    }
    .site-container {
        overflow: hidden;
    }
    .site-pusher {
    transition-duration: 0.5s;
  }
  .site-content {
      position: absolute;
      top: 4.125em; // 66px /* La hauteur du header */
      right: 0;
      left: 0;
      bottom: 0;
      padding-top: 0;
  }
  .with--sidebar .site-pusher {
     transform: translateX(-12.5em); // -300px
}
.with--sidebar .site-cache {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $colorOpacityMenuHamburger;
  }
   .topbar-two {
       position: static;
       z-index: 50;
        /* L'icône hamburger, en utilisant le box-shadow */
       &__icon{
           position: relative;
           display: block;
           float: right;
           width: 3.125em; // 50px
           height: 4.125em; // 66px
           cursor: pointer;
           z-index: 100;
           &::after{
               content: '';
               position: absolute;
               display: block;
               width: 1.25em;
               height: 0;
               left: 0.9375em; // 15px
               box-shadow: 0 0.625em 0 0.09375em $colorPortfolio, 0 1em 0 0.09375em $colorPortfolio, 0 1.375em 0 0.09375em $colorPortfolio; //10px 16px 22px
           }
       }
        /* Le menu collé à gauche est masqué grâce à un transform */
       &__navigation{
           position: absolute;
           right: 0;
           top: 0;
           bottom: 0;
           background-color: $colorPortfolio;
           width: 12.5em; // 200px
           transform: translateX(12.5em); // 200px
       }
       &__list{
           &__link{
               display: block;
               height: 100%;
               width: 100%;
               text-align: center;
               line-height: 3.125em; // 50px
           }
           &__detail{
               padding: 0;
               margin-right: 0;
               &:hover{
                   background: none;
                   color: $colorWhite;
               }
           }
       }
   }
}
@media screen and (max-width: 480px) {
}
