.projet
  .wrap
    padding: s(150,16) s(20,16) s(100,16)
    position: relative
  &__infos-text
    font-size: s(18,16)
    color: $lightBlue
    line-height: 1.6em
    font-family: 'montserrat'
    font-weight: 300
  &__infos-bloc
    column-count: 2
    column-gap: s(50,16)
    width: 100%
    margin-bottom: s(50,16)
  &__infos-scroll
    background-size: cover
    background-repeat: repeat
    background-attachment: fixed
    background-position: top
    height: s(300,16)

@media screen and (max-width:1024px)
  .projet
    .wrap
      padding: 0
  .projet-header
    &__bloc
      padding-top: s(100,16)
