.projet-header
  background-size: cover
  background-position: 50% 40%
  background-repeat: no-repeat
  position: relative
  &:before
    content: ""
    position: absolute
    top: 0
    right: 0
    bottom: 0
    left: 0
    background-color: rgba(44,62,80,0.8)
  &__bloc
    color: $white
    font-family: 'montserrat'
    z-index: 200
    position: relative
  &__title
    font-size: s(50,16)
    text-transform: uppercase
    font-weight: bold
    margin-bottom: s(50,50)
  &__date
    font-size: s(20,16)
    font-weight: 300
    margin-bottom: s(50,20)
    display: block
    font-family: 'montserrat'
    font-weight: bold
    & strong
      font-weight: 100
  &__text
    width: 40%
    font-family: 'varela'
    font-size: s(18,16)
    line-height: 1.6em
  &__links
    position: absolute
    bottom: s(100,16)
    right: 0
    z-index: 200
  &__link
    display: block
    background-color: $white
    color: $darkBlue
    font-size: s(20,16)
    padding: s(15,20) s(50,20)
    border-radius: s(50,20)
    font-family: 'montserrat'
    font-weight: 500
    &--repo
      &:before
        icon('iconRepo')
        font-size: s(25,20)
        margin-right: s(20,25)
    &--site
      &:before
        icon('iconSite')
        font-size: s(25,20)
        margin-right: s(20,25)
  &__link + &__link
    margin-top: s(50,20)

.projets
  background url('../images/backgroundPortfolio.jpg') no-repeat top center/cover
