.nav
  position: absolute
  z-index: 20
  left: 0
  right: 0
  color: $white
  font-family: 'montserrat'
  font-weight: 300
  font-size: s(20,16)
  max-width: s(1140,20)
  margin: s(50,20) auto
  text-align: right
  &__item
    margin-right: s(50,20)
  &:last-child
    margin-right: 0
