.nav
  position: absolute
  z-index: 200
  left: 0
  right: 0
  color: $white
  font-family: 'montserrat'
  font-weight: 300
  font-size: s(20,16)
  max-width: s(1140,20)
  margin: s(50,20) auto
  text-align: right
  &__item
    display: inline-block
    margin-right: s(50,20)
  &:last-child
    margin-right: 0
  &__link
    width: 100%
    height: 100%
    display: block
  &__button
    top: s(-30,16)
    right: 3em
    width: s(75,16)
    height: s(80,16)
    display: none
  &__button-wrap
    position: absolute
    top: 25%
    right: 5%
  &__icon
    position: relative
    width: s(35,16)
    height: s(45,16)
    margin: s(5,16) auto
    cursor: pointer
    transition: .5s ease-in-out
    transform: rotate(0deg)
    & span
      display: block;
      position: absolute;
      height: s(5,20)
      width: 100%;
      background: $black
      border-radius: s(9,16)
      opacity: 1;
      left: 0;
      transform: rotate(0deg);
      transition: .25s ease-in-out;
  &__icon span:nth-child(1)
    top: s(8,16)
  &__icon span:nth-child(2)
    top: s(18,16)
  &__icon span:nth-child(3)
    top s(18,16)
  &__icon span:nth-child(4)
    top: s(28,16)
  &__icon span
    position: absolute
    left: 0
    display: block
    width: 100%
    height: s(4,16)
    transition: .25s ease-in-out
    transform: rotate(0deg)
    opacity: 1
    border-radius: s(9,16)
    background: $white

.with-menu
  .nav
    &__bloc
      height 100%
    &__link
      padding-top s(5,16)
.menu-unfolded
  .nav
    &__icon span:nth-child(1)
      top: s(18,16)
      width: 0%
      left: 50%
    &__icon span:nth-child(2)
      transform: rotate(45deg)
    &__icon span:nth-child(3)
      transform: rotate(-45deg)
    &__icon span:nth-child(4)
      top: s(18,16)
      width: 0%
      left: 50%

@media screen and ( max-width: 1024px )
  .nav
    position: fixed
    top: 0
    left: 0
    right: 0
    bottom: 0
    margin: 0
    &__item
      display: block
      text-align: center
      margin-right: 0
      font-size: s(30,20)
      padding: s(20,30) 0
      margin-bottom: s(50,30)
      &:last-child
        margin-bottom: 0
    &__button
      display inline-block
      position: absolute
      top: 0
      text-align: right
      cursor pointer
      z-index: 500
    &__bloc
      background-color: rgba(0, 0, 0, 0.92)
      padding: 0
      height: 100%
      overflow: hidden
      opacity: 0
      transition: 0.3s ease-in-out
      position: absolute
      top: 0
      left: 0
      bottom: 0
      right: 0
    &__link
      display block
      margin-right: 0
      visibility: hidden
    &__item:hover .open
    &__item .open
      transition: 0.3s ease-in-out
      opacity 1
    &__item .unfolded:after
      transition .5s transform ease
      transform rotate(0deg)
      top s(12,22)

.with-menu .nav__bloc
  opacity: 1
.with-menu .nav__link
  visibility: visible
  display: block

.with-menu .nav__container
  position: absolute
  top: 50%
  transform: translateY(-50%)
  left: 0
  right: 0
