.title
  font-size: s(35,16)
  font-family: 'montserrat'
  font-weight: bold
  color: $darkBlue
  margin-bottom: s(50,35)
  &__footer
    margin-right: s(50,35)
  &:before
    content: ""
    width: s(30,35)
    height: s(4,35)
    background-color: $darkBlue
    display: inline-block
    margin-right: s(20,35)
    position: relative
    top: s(-7,35)

.color
  color: $white
  display: inline-block
  &:before
    background-color: $white

.projet
  margin-bottom: 0

@media screen and (max-width:839px)
  .title
    &__footer
      margin-right: s(20,35)

@media screen and (max-width:777px)
  .title
    &__footer
      display: block

@media screen and (max-width:579px)
  .title
    font-size: s(30,16)

@media screen and (max-width:503px)
  .title
    font-size: s(25,16)

@media screen and (max-width:430px)
  .title
    font-size: s(20,16)

@media screen and (max-width:355px)
  .title
    font-size: s(18,16)
