.works
  &__container
    &--projets
      display: flex
      flex-direction: column
  &__bloc
    &--margin
      margin-bottom: s(50,16)
      margin-right: 0
  &__title
    &--size
      font-size: s(50,16)
  &__infos
    &--projets
      transform: translateX(-450px)
      &:before
        height: s(85,16)
        top: s(90,16)
  &__text
    &--projets
      font-size: s(20,16)
  &__link-projects
    &--projets
      &:before
        font-size: s(50,16)
